<ion-header [translucent]="true">
    <ion-toolbar color="ligth">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Secco App
      </ion-title>
      <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <div id="container">
      <h1>Bienvenido Usuario</h1>
    </div>
  </ion-content>