h1 {
  padding: 20px;
  text-align: center;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: #999999 url('https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/118599532_3304988526233987_4030309403984047253_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=_dUNSeGlum4AX-rt8ll&_nc_ht=scontent.faep9-1.fna&oh=0b4ecc71a3d21e6a16111f9948df3bfb&oe=61D23F71') no-repeat center center / cover;
}

p{
  font-weight: bold;
}

img {
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}