<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Nueva Carga</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <form [formGroup]="cargaForm" (ngSubmit)="submit()">
      <ion-card>
        <ion-item>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
          <ion-select placeholder="Seleccione Equipo" #C (ionChange)="onSelectEquipo($event.detail.value)">
            <ion-select-option *ngFor="let equipo of equipoArray" [value]="equipo">
              {{equipo.$$title}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          Horometro : &nbsp;
          <ion-input type="number" formControlName="horometro" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="speedometer-outline" slot="start"></ion-icon>
          RPM : &nbsp;
          <ion-input type="number" formControlName="rpm" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline" slot="start"></ion-icon>
          Presion Aceite : &nbsp;
          <ion-input type="number" formControlName="presionAceite" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="thermometer-outline" slot="start"></ion-icon>
          Temperatura Aceite : &nbsp;
          <ion-input type="number" formControlName="temperaturaAceite" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="thermometer-outline" slot="start"></ion-icon>
          Temperatura Agua : &nbsp;
          <ion-input type="number" formControlName="temperaturaAgua" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="thermometer-outline" slot="start"></ion-icon>
          Temperatura de Succion 1° : &nbsp;
          <ion-input type="number" formControlName="temperaturaSuccion1" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline" slot="start"></ion-icon>
          Presion de Succcion 1° : &nbsp;
          <ion-input type="number" formControlName="presionSuccion1" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="thermometer-outline" slot="start"></ion-icon>
          Temperatura de Succion 2° : &nbsp;
          <ion-input type="number" formControlName="temperaturaSuccion2" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline" slot="start" required></ion-icon>
          Presion de Succion 2° : &nbsp;
          <ion-input type="number" formControlName="presionSuccion2" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="thermometer-outline" slot="start"></ion-icon>
          Temperatura de Succion 3° : &nbsp;
          <ion-input type="number" formControlName="temperaturaSuccion3" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline" slot="start"></ion-icon>
          Presion de Succion 3° : &nbsp;
          <ion-input type="number" formControlName="presionSuccion3" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline" slot="start" required></ion-icon>
          Presion de Descarga : &nbsp;
          <ion-input type="number" formControlName="presionDescarga" required></ion-input>
        </ion-item>
      </ion-card>
      <ion-button expand="full" shape="round" color="success" [disabled]="!cargaForm.valid" type="submit">Guardar
      </ion-button>
    </form>
  </div>
</ion-content>