<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">Carga Diaria</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/carga-diaria"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label *ngIf="carData != null">

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <strong>{{carData.$$title}}</strong>
        </ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label>
          <strong>Equipo:</strong> 
          {{carData.equipo.title}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Horometro :</strong> 
          {{carData.horometro}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>RPM :</strong> 
          {{carData.rpm}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Presion Aceite :</strong> 
          {{carData.presionAceite}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Temperatura Aceite :</strong> 
          {{carData.temperaturaAceite}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Temperatura Agua :</strong> 
          {{carData.temperaturaAgua}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Temperatura de Succion 1° :</strong> 
          {{carData.temperaturaSuccion1}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Presion de Succion 1° :</strong> 
          {{carData.presionSuccion1}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Temperatura de Succion 2° :</strong> 
          {{carData.temperaturaSuccion2}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Presion de Succion 2° :</strong> 
          {{carData.presionSuccion2}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Temperatura de Succion 3° :</strong> 
          {{carData.temperaturaSuccion3}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Presion de Succion 3° :</strong> 
          {{carData.presionSuccion3}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <strong>Presion de Descarga :</strong> 
          {{carData.presionDescarga}}</ion-label>
      </ion-item>
      
    </ion-card> 
    </ion-label>
</ion-content>