<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Nueva Carga</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <form [formGroup]="cargaForm" (ngSubmit)="submit()">
      <ion-card>
        <ion-item>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
          <ion-select placeholder="Seleccione Equipo" #C (ionChange)="onSelectEquipo($event.detail.value)">
            <ion-select-option *ngFor="let equipo of equipoArray" [value]="equipo">
              {{equipo.$$title}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Horometro : &nbsp;
          <ion-input type="text" formControlName="horometro"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          RPM : &nbsp;
          <ion-input type="text" formControlName="rpm"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Presion Aceite : &nbsp;
          <ion-input type="text" formControlName="presionAceite"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Temperatura Aceite : &nbsp;
          <ion-input type="text" formControlName="temperaturaAceite"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Temperatura Agua : &nbsp;
          <ion-input type="text" formControlName="temperaturaAgua"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Temperatura de Succion 1° : &nbsp;
          <ion-input type="text" formControlName="temperaturaSuccion1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Presion de Succcion 1° : &nbsp;
          <ion-input type="text" formControlName="presionSuccion1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Temperatura de Succion 2° : &nbsp;
          <ion-input type="text" formControlName="temperaturaSuccion2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Presion de Succion 2° : &nbsp;
          <ion-input type="text" formControlName="presionSuccion2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Temperatura de Succion 3° : &nbsp;
          <ion-input type="text" formControlName="temperaturaSuccion3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Presion de Succion 3° : &nbsp;
          <ion-input type="text" formControlName="presionSuccion3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Presion de Descarga : &nbsp;
          <ion-input type="text" formControlName="presionDescarga"></ion-input>
        </ion-item>
      </ion-card>
      <ion-button type="submit" style="background-color: rgb(170, 196, 245)">
        Guardar
      </ion-button>
    </form>
  </div>
</ion-content>