<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">Planta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plantas"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label *ngIf="plaData != null">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"><strong>{{plaData.$$title}}</strong></ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>
        <strong>Nombre:</strong> 
        {{plaData.nombre}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Provincia: </strong>
        {{plaData.provincia}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Cliente: </strong>
        {{plaData.cliente}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Activo: </strong>
        {{plaData.activo}}</ion-label>
    </ion-item>

  </ion-card> 

  </ion-label>

</ion-content>