<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">Cargas Diarias</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Listado de Cargas Diarias</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content>
  <ion-item *ngFor="let resultado of resultadosC" (click)="goDetCar(resultado.$$instanceId)">
  <ion-label>
      <h2>{{resultado.$$title}}</h2>
    </ion-label>
  </ion-item>
</ion-content>
